<main>
    <header>
        <img src="../../assets/logo.png" alt="">
        <h1>We need your help.</h1>
        <p>Help farmer Hoggett track the missing pigs and get a year's supply of pork chop!</p>
        <button type="button" (click)="navCreate()">CREATE PIG REPORT</button>
    </header>
    <section class="pannel">
        <header>
            <h2>Reports</h2>
            <div class="controlers btn-group">
                <button type="button" class="btn" [ngClass]="{ 'btn-active': listView }" (click)="toggleView()">List View</button>
                <button type="button" class="btn" [ngClass]="{ 'btn-active': !listView }" (click)="toggleView()">Map View</button>
            </div>
        </header>
        <router-outlet></router-outlet>
    </section>
</main>